.navbar {
    background-color: #fff;
    height: 70px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25); /* heavier and more visible */
}


.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        transform: translateX(0%);
        width: 0;
        height: 2px;
        background-color: #000;
        visibility: hidden;
        transition: 0.3 ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 70%;
        visibility: visible;
    }
}

.Hero-section {
    background-color: #121212;
    background-size: cover;
    width: 100%;
    height: 100vh;
}